body {
    background: rgba(1, 22, 39, 1);
}

p {
    font-family: 'Roboto', sans-serif;
}

h1 {
    text-align: center;
    color: white;
    font-family: 'Poppins', sans-serif;
}

h2 {
    font-family: 'Poppins', sans-serif;
}

.grids {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    padding: 1em;
}

img {
    width: 100%;
    margin: 2px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, 2fr);
    grid-gap: 5px;
    grid-template-areas: "V V V V V V V V V V V V" "M M M M M M C C C C C C" "F F F F F F F F F F F F";
    grid-template-rows: 50px auto 50px;
}

.nav {
    grid-area: V;
    background: rgba(46, 196, 182, 1);
}

.cont {
    grid-area: C;
    background: rgba(231, 29, 54, 1);
}

.menu {
    grid-area: M;
    background: greenyellow;
}

.foot {
    grid-area: F;
    background: rgba(255, 159, 28, 1);
}

@media (max-width: 920px) {
    .grid {
        grid-template-areas: "V V V V V V V V V V V V" "M M M M M M M M M M M M" "C C C C C C C C C C C C" "F F F F F F F F F F F F";
        grid-template-rows: 50px auto auto;
    }
}